<div class="container text-center">
  <div class="row">
    <div class="center col-sm-12 text-center" id="top-bar">
      <img src="assets/img/burger.png" id="burgerImg" alt="Eat-Da-Burger App">
      <h1>Eat-Da-Burger</h1>
      <p>Add your own burger, or devour one of the available ones! </p>
    </div>

    <div class="row">
        <div class="col-6 text-left">
            <div id="burgers-true">
                <ul>
                    {{#each burgers}}
                        {{#unless devoured}}
                            <li id="{{id}}">
                                {{id}}: {{burger_name}}
                                <button class="devour btn btn-warning" type="submit" data="{{id}}">Devour a Burger!</button>
                            </li>
                        {{/unless}}
                    {{/each}}
                </ul>
            </div>
        </div>
        <div class="col-6 text-right">
            <h5>Here are some previously devoured burgers:</h5>
            {{!-- devoured burgers go here --}}
            <div id="burgers-false">
                <ul>
                    {{#each burgers}}
                        {{#if devoured}}
                            <li id="{{id}}">
                                {{burger_name}}
                               
                            </li>
                        {{/if}}
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
    {{!-- Row that contains entry for new burger --}}
    <div class="row mt-5 text-center">
        <div class="col-12">
            <form>
                <div class="form-group">
                    <input class="form-control" id="burgerName"></input>
                </div>
                <button type="submit" id="create-burger" class="btn btn-warning">Create a Burger</button>
            </form>
            <p>Enter a burger you want to eat!</p>
        </div>
    </div>
</div>