<li>
	{{name}}

	<button class="change-burger" data-id="{{id}}" data-newburger="{{burger}}">
		{{#if sleep}}Eat Time!{{else}}Time to sleep!{{/if}}
	</button>

	<button class="delete-cat" data-id="{{this.id}}">DELETE!</button>
</li>