{{!-- <li>
	{{name}}

	<button class="change-burger" data-id="{{id}}" data-newburger="{{burger}}">
		{{#if sleep}}Eat Time!{{else}}Time to eat!{{/if}}
	</button>

	<button class="devour-burger" data-id="{{this.id}}">DEVOUR!</button>
</li> --}}